*{margin: 0;padding: 0;}
li{list-style: none; color: white;}
a{text-decoration: none; color: white; font-weight: bold; font-size: 1em; padding-left: 10px; margin-left: 30px;}
img{display:block;}
body{background-color: #333333; font-size: 12px;}
div{box-sizing: border-box;}
h2{margin-bottom: 40px; margin-top: 30px;}
p{padding-left: 10px; margin-top: 25px; margin-bottom: 25px; color: #919191; margin-left: 30px; font-size: 0.8em;}
span{color: #ddff3c; margin-left: 11px; font-size: 0.8em;}
.wrap{display: flex; width: 1600px; margin: 0 auto;}

header{width: 200px;}
header div:nth-of-type(1){display: flex; justify-content: center; width: 1400px; margin-top: 10px;}
header{width: 200px; background-color: black;}
header nav ul{position: fixed; width: 200px; background-color: #000}
header nav ul li:nth-child(1){text-align: center;}
header nav ul li{width: 200px;}
input[type="submit"]{margin-right: 30px; padding: 5px; border: 1px solid #696969; width: 60px; cursor: pointer; background-color: #000; color: white; font-size: 11px; text-align: center;}
input[type="text"]{margin-left: 30px; padding: 5px; padding-top: 4px; width: 70px; border: none; background-color: #696969;}

section{width: 1400px;}
section{background-color: #ffd701;}
section article:nth-child(1){display: flex; position: relative; justify-content: center; margin-top: 36px;}
section article:nth-child(1) div:nth-of-type(1){position: absolute; width: 150px; height: 152px; border-radius: 152px; top:100px; background-color: #000; color: white; text-align: center; line-height: 152px; font-size: 20px;}
section article:nth-child(2), section article:nth-child(3), section article:nth-child(4){display: flex; justify-content: center; justify-content: space-evenly; margin-top: 36px;}
section article:nth-child(2) img:nth-child(1), section article:nth-child(3) img:nth-child(1), section article:nth-child(4) img:nth-child(1){margin-left: 60px;}
section article:nth-child(2) img:nth-child(4), section article:nth-child(3) img:nth-child(4), section article:nth-child(4) img:nth-child(4){margin-right: 60px;}
section article:nth-child(4){margin-bottom: 36px;}



