*{margin: 0; padding: 0;}
a{text-decoration: none; color: #000;}
li{list-style: none;}

#header{width: 100%; height: 100px; background-color: aqua;}
#content{width: 1200px; height: 500px; margin: 0 auto; background-color: #ffd701;}
#footer{width: 100%; height: 100px; background-color: #990099;}
#header #header-inner{display: flex; width: 1200px; height: 100px; margin: 0 auto; background-color: #aa0000;}
#footer #footer-inner{display: flex; width: 1200px; height: 100px; margin: 0 auto; background-color: #4CAF50;}
#header-inner #logo{width: 200px; height: 100px; background-color: grey;}
#header-inner #nav{width: 1000px; height: 100px; background-color: chocolate;}

#content #slider{width: 1200px; height: 300px; background-color: antiquewhite;}
#content #con-inner{display: flex; width: 1200px; height: 200px; background-color: cyan;}
#con-inner div:nth-child(1){width: 480px; height: 200px; background-color: burlywood;}
#con-inner div:nth-child(2){width: 360px; height: 200px; background-color: #ff6600;}
#con-inner div:nth-child(3){width: 360px; height: 200px; background-color: #4965f1;}

#footer-inner #logo1{width: 200px; height: 100px; background-color: aqua;}
#footer-inner #footwrap{width: 1000px; height: 100px; background-color: #4CAF50;}
#footwrap div:nth-child(1){width: 1000px; height: 50px; background-color: #919191;}
#footwrap div:nth-child(2){width: 1000px; height: 50px; background-color: #ddff3c;}
.gnb{display: flex;}
.gnb li a{display: block; position: relative; left: 350px; top: 50px; width: 150px; height: 50px; text-align: center; line-height: 50px;background-color: #aa9110;}
.lnb li a{display: block; position: relative; left: 350px; top: 50px; width: 150px; height: 50px; text-align: center; line-height: 50px;background-color: #aa9110;}

.gnb li a:hover{background-color: #ffd701; color: #d9d9d9;}
.lnb li a:hover{background-color: #ffd701; color: #d9d9d9;}