#logo1{
    float: left;
    width: 200px;
    height: 100px;
    background-color: #4CAF50;
}
#cp{
    float: left;
    width: 800px;
    height: 100px;
    background-color: #0404aa;
}
#sns{
    float: left;
    width: 200px;
    height: 100px;
    background-color: chocolate;
}