*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
body{font-size: 14px;}
.on{font-size: 1.5em; font-weight: 700;}
/* header 영역 시작*/
header,section{width: 100%;}
header{background-color: #4CAF50; border-bottom: 1px solid #9e9e9e;}
header #header_wrap{display: flex; margin: 0 35px; padding: 0 24px; background-color: #4CAF50;}
header #header_wrap h1 a{display: block; width: 100px; height: 20px; text-align: center; line-height: 50px;}
header nav .Main{display: flex;}
header nav .Main li {width: 100px; height: 50px; font-size: 1.5em; line-height: 50px; text-align: center;}
header nav .Main li a{width: 100%; height: 100%; color: #000;}
header #rightWrap{display: flex; justify-content: flex-end; width: 100%; margin-right: 35px; padding-right: 24px;}
header #rightWrap div:nth-of-type(1){width: 100px; text-align: right; line-height: 50px;}
header #rightWrap div:nth-of-type(2){width: 100px; text-align: right; line-height: 50px;}
/* header 영역 종료 */
/* section 카테고리/ 서비스 목록 왼쪽 영역 시작*/
section #sub #sub_menu{display: none;}
section #sub-inner div:nth-of-type(1){position: relative; height: 44px; background-color: #ff6600;}
section #sub_menu{display: flex; position: absolute; left: 500px; width: 750px; height: 795px; background-color: #ff6600;}
section #sub_menu #sub1,section #sub_menu #sub2{width: 375px; height: 795px;}
section #sub_menu #sub1{background-color: #718c00;}
section #sub_menu #sub2{background-color: #0a9b97;}
section #sub1 div div:nth-of-type(1){display: flex; justify-content: space-between; background-color: #718c00;}
section #sub1 div div:nth-of-type(1) h3,section #sub1 div div:nth-of-type(1) p{text-align: center; line-height: 44px;}
section #sub1 .category{display: flex; padding: 8px 12px;}
section #sub1 .category li{margin-right: 12px; height: 30px; border-radius: 30px; border: 1px solid #000; text-align: center; line-height: 30px;}
section #sub1 .category li a,section #sub1 .service li a{padding: 8px 12px; color: #000;}
section #sub1 div div:nth-of-type(2){display: flex; justify-content: space-between;}
section #sub1 div div:nth-of-type(2) h3,section #sub1 div div:nth-of-type(2) p{text-align: center; line-height: 44px;}
section #sub1 .service{display: flex; flex-wrap: wrap; padding: 8px 12px;}
section #sub1 .service li{margin-right: 12px; margin-top: 8px; height: 30px; border-radius: 30px; border: 1px solid #000; text-align: center; line-height: 30px;}
/* section 카테고리/ 서비스 목록 왼쪽 영역 종료*/



