*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: #000;}
header{display: flex; position: relative; width: 1200px; height: 100px; margin: 0 auto; background-color: burlywood;}
header h1{width: 200px; height: 50px;background-color: orange; margin-top: 25px;}
header .menu{display: flex; position: absolute; right: 20px; top: 30px; justify-content: flex-end;}
header .menu li{width: 150px; height: 50px; line-height: 50px; text-align: center; background-color: #0404aa;}
header .menu li a{width: 100%; text-align: center; color: white;}
header .submenu li{background-color: #000;}
header .submenu li a{width: 100%; text-align: center; color: white;}
.menu li:hover{background-color: #00bbdd;}
.submenu{display: none;}

