* { margin: 0; padding: 0; box-sizing: border-box; }

li { list-style: none; }

a { text-decoration: none; }

img { display: block; }

#wrap { width: 100%; height: 100vh; display: flex; flex-wrap: wrap; box-sizing: border-box; }

header { width: 200px; height: calc(100% - 120px); }

header h2 { width: 200px; height: 100px; margin-left: 5px; }

nav { width: 200px; height: 500px; }

.mainMenu { width: 180px; margin: 40px auto; }

.mainMenu > li { width: 180px; text-align: center; line-height: 50px; background-color: #333; position: relative; }

.subMenu > li { width: 180px; height: 50px; text-align: center; line-height: 50px; background-color: #333; opacity: 0.9; }

.mainMenu > li > a { color: white; }

.subMenu > li > a { color: white; }

.mainMenu li:hover { background-color: #00bbdd; }

.subMenu { position: absolute; left: 180px; top: 0; display: none; }

#content { width: 400px; height: calc(100% - 120px); }

#content > article:nth-of-type(1) { height: 148px; border: 1px dashed gray; border-bottom: none; }

#content > article:nth-of-type(1) > div { display: flex; margin: 20px 10px 20px 10px;}

#content > article:nth-of-type(1) > div > img:nth-of-type(2) { width: 60px; height: 60px; margin-top: 20px; }

#content > article:nth-of-type(2) { height: calc((100% - 300px) / 2); border: 1px dashed gray; border-bottom: none; }

#content > article:nth-of-type(3) { height: calc((100% - 300px) / 2); border: 1px dashed gray; border-bottom: none; }

#content > article:nth-of-type(4) { display: flex; height: 148px; border: 1px dashed gray; border-bottom: none; }

.box1, .box2 { margin: 10px 8px 10px 8px; }

.title a:nth-of-type(1), .title a:nth-of-type(2) { border: 1px solid black;
    width: 120px; text-align: center; line-height: 30px; display: inline-block; border-bottom: none; }

.title > a { color: black; }

.text { width: 380px; height: 200px; line-height: 50px; border: 1px solid black; }

.image { width: 380px; height: 200px; border: 1px solid black; }

.image ul { display: flex; }

.image ul li { margin: 10px; }

.image ul li a {  color: black; }

.link { text-align: center; margin: 20px;}

.link > a { color: black; }

#slide { width: calc(100% - 200px - 400px); height: calc(100% - 120px); background-color: yellow; overflow: hidden;}

#slide .slide_container { display: flex; position: relative; height: 100%; }

#slide .slide_container .slide_block { width: 100%; height: 100%; flex-shrink: 0; position: relative; }

#slide .slide_container .slide_block img { width: 100%; height: 100%; object-fit: cover; object-position: center; }

#slide .slide_container .slide_block span { color: white; font-weight: bold; text-align: center;
    font-size: 30px; top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; }

#footer { width: 100%; height: 120px; display: flex; }

#footer > h2 { width: 200px; height: 118px; border: 1px dashed grey; border-left: none; }

#footer section { flex-direction: column; }

#footer div { height: 58px; }

#footer > section:nth-of-type(1) { width: calc(100% - 600px); }

#footer > section:nth-of-type(1) > div { line-height: 60px; border: 1px dashed grey; border-left: none; }

#footer > section:nth-of-type(2) { width: 400px; height: 120px; }

#footer > section:nth-of-type(2)  select  { width: 200px; height: 60px; border: 1px solid black; margin: 30px 90px 30px 90px; }
