#con{
    width: 1200px;
    height: 200px;
    background-color: sienna;
}
#con1{
    float: left;
    width: 480px;
    height: 200px;
    background-color: chartreuse;
}
#con2{
    float: left;
    width: 360px;
    height: 200px;
    background-color: brown;
}
#con3{
    float: left;
    width: 360px;
    height: 200px;
    background-color: bisque;
}
#title{
    float: left;
    width: 480px;
    height: 50px;
    background-color: yellow;
}
#title>button{
    float: left;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 10px;

}
#title-inner{
    float: left;
    width: 480px;
    height: 150px;
    background-color: cornflowerblue;
}
.item{
    float: left;
    width: 80%;
    height: 20px;
    padding: 6px;
    box-sizing: border-box;
    font-size: 13px;
    text-align: center;
}
.date{
    float: right;
    width: 20%;
    height: 20px;
    padding: 6px;
    box-sizing: border-box;
    font-size: 13px;
}