*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; color: #000;}
#wrap{display: flex; flex-wrap: wrap; width: 100%; height: 100vh; background-color: greenyellow;}
header{width: 200px; height: calc(100% - 120px); background-color: #a63d4f;}
section{width: 400px; height: calc(100% - 120px); background-color: #4965f1;}
aside{width: calc(100% - 600px); height: calc(100% - 120px); background-color: #4CAF50;}
footer{width: 100%; height: 120px; background-color: #0404aa;}