@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
*{ margin: 0;padding: 0; }
div{width: 630px; height: 300px; margin: auto;}
#rine{float: left; width: 640px; height: 40px; margin: auto; background-color: black;}
#rine > p{float: left; padding-bottom: 10px; color: white}
.box{float: left; width: 638px; height: 200px; margin: auto; border: 1px solid black;}
span{color: blue}
h2,h3,h4,p{padding-top: 20px;  text-align: center; font-weight: bold}
h2{color: red}
#size{font-size: 13px}
h2{font-family: "Dokdo", system-ui; font-weight: 400; font-style: normal;color: red; font-size: 40px;}