@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: #000;}
li {list-style: none;}

.book {
    width: 300px;
}
#mybook{
    width: 100%;
}
body{font-size: 14px;}
p {font-size: 1.2em;}
p {
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.imges {
    width: 150px;
    height: 150px;
}
.last{width: 300px; height: 600px; background-color: blanchedalmond;}
section{display: flex;}
