*{padding: 0;margin: 0;}
img{display: block;}
ul{list-style: none;}
h3{margin-top: 25px;margin-left: 10px;}
body> div{width: 1000px;margin: 0 auto;}
body>div:nth-child(1){display: flex;justify-content: center; position: relative;}
body>div:nth-child(1) div:nth-child(1){flex-direction: column;width: 750px;height: 500px;}
body>div:nth-child(1) div:nth-child(2){align-items: flex-end;width: 250px;height: 250px;}
body>div:nth-child(2){display: flex;}
body>div:nth-child(2)>ul:nth-child(1){display: flex;width: 750px;height: 500px; justify-content: flex-start; flex-wrap: wrap;}
body>div:nth-child(2)>ul:nth-child(1) li{width: 250px;height: 250px;align-items: center;}
body>div:nth-child(2)>ul:nth-child(1) li:nth-child(2n+1){background-color: #ff3333;color: white;}
body>div:nth-child(2)>ul:nth-child(1) li:nth-child(2n){background-color: orange;}
body>div:nth-child(2)>ul:nth-child(1) li:nth-child(2n) p{margin: 10px;}
body>div:nth-child(2)>ul:nth-child(1) li:nth-child(2n+1) p{margin: 10px;}
body>div:nth-child(2)>ul:nth-child(2){width: 250px;height: 500px;background-color: yellow;}
body>div:nth-child(3){display: flex;}
body>div:nth-child(3)>ul:nth-child(1){display: flex; width: 750px; height: 60px; background-color: #d9d9d9}
body>div:nth-child(3)>ul:nth-child(1) li{height: 25px; border-right: 1px solid orange;margin: 10px;padding-right: 10px;padding-top: 5px;}
body>div:nth-child(3)>div:nth-child(2){width: 250px;height: 60px;background-color: #4CAF50;}
body>div:nth-child(1)>div:nth-child(3){position: absolute; right: 760px; top: 250px;}