body, div, ul, li, p, h3{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
#wrap{
    width: 1000px;
    height: 1080px;
    background-color: #4CAF50;
    margin: 0 auto;
}
#top{
    width: 1000px;
    height: 500px;
    background-color: #4965f1;
    position: relative;
}
#box_all{
    width: 1000px;
    height: 500px;
    background-color: yellow;
}
#footer{
    width: 1000px;
    height: 80px;
    background-color: aqua;
}