#slide{
    width: 1200px;
    height: 300px;
    /* background-color: brown; */
}
#slide-inner{
    width: 3600px;
    height: 300px;
}
#slide-inner>a>img{
    float: left;
    width: 1200px;
    height: 300px;
}
#slide{
    overflow: hidden;
}