@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
ul{
    text-decoration: none;
}
li{
    list-style: none; 
}
a{
    text-decoration: none;
    color: black;
}
#body{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    /* background-color: blue; */
}